/* Global styles */
body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 85px;
  }
  
  html{
    scroll-behavior: smooth;
  }

  /* .wow {
     visibility: hidden; 
    } */
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    
  }
  img {
    max-width: 100%;
    height: auto;
  }
  nav img{
    min-width: 300px;
  }
  /* Navigation bar styles */
  .navbar {
    background-color: #000 !important;
    color: #fff;
    font-size: 18px;
  }
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    overflow: hidden;
  }
  .navbar {
    border-bottom: 1px solid white;
  }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
  }
  .navbar-brand img{
    max-width: 40px;
  }
  
  .nav-link {
    color: #fff !important;
  }
  
  .nav-link:hover {
    color: #ddd !important;
  }
  
  /* Header styles */
  header {
    background-image: url('header-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  
  header h1 {
    font-size: 64px;
    font-weight: bold;
    text-align: center;
  }

/* Parallax */
  .parallax {
    height: 500px;
    background-image: url('/Assets/Images/laptop.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .parallax-content {
    color: #fff;
    text-align: center;
    padding-top: 150px;
  }
  
/* our services section */
.our-services {
  background-color: #f9f9f9;
  padding-top: 70px;
  padding-bottom: 50px;
}

.our-services h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 600;
}

.service-item {
  text-align: center;
  margin-bottom: 40px;
  position: relative;
}

.service-item h4 {
  font-size: 24px;
  margin-top: 20px;
}

.service-item p {
  font-size: 16px;
  margin-top: 20px;
  line-height: 1.6;
  padding: 0 20px;
}

.service-icon {
  font-size: 50px;
  line-height: 80px;
  position: absolute;
  left: 50%;
  margin-left: -40px;
  top: -40px;
  background-color: #ffffff;
  border: 2px solid #cccccc;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  color: #000000;
  transition: all 0.3s ease;
}

.service-item:hover .service-icon {
  background-color: #42b4e6;
  border-color: #42b4e6;
  color: #ffffff;
}

.service-icon i {
  display: block;
  margin-top: 15px;
}

.service-item:nth-child(odd) .service-icon {
  transform: translate(-50%, -30%);
}

.service-item:nth-child(even) .service-icon {
  transform: translate(-50%, 30%);
}

.service-item.wow {
  visibility: hidden;
}

.service-item.wow.animated {
  visibility: visible;
  animation-name: fadeInUp;
}
.service-item i{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #000;
  font-size: 28px;
  color: #fff;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
  line-height: 60px;
}

/* why choose us section  */
#why-choose-us {
  padding: 80px 0;
  background-color: #f8f9fa;
}

#why-choose-us h2 {
  margin-bottom: 50px;
}

.card {
  border: none;
  margin-bottom: 30px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.card:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-weight: 700;
  margin-bottom: 15px;
}

.card-text {
  font-size: 14px;
}
/* About us */

#about {
  background-color: #f8f9fa;
}

.section-heading {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.section-heading-line {
  border-top: 3px solid #008080;
  margin: auto;
  width: 50%;
}

.lead {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

@media (min-width: 992px) {
  .col-lg-6 {
    padding: 5rem;
  }
}

@media (max-width: 991.98px) {
  .col-lg-6 {
    padding: 2rem;
  }
}

@media (max-width: 767.98px) {
  .section-heading {
    font-size: 2rem;
  }

  .col-lg-6 {
    padding: 0;
  }
}

@media (max-width: 575.98px) {
  .section-heading {
    font-size: 1.5rem;
  }
}


  /* Footer styles */
  footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    margin-top: 50px;
  }
  
  footer p {
    margin: 0;
    text-align: center;
    font-size: 18px;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    header h1 {
      font-size: 36px;
    }
  
    .services-item h3 {
      font-size: 20px;
    }
  
    .services-item p {
      font-size: 16px;
    }
  
    footer p {
      font-size: 16px;
    }
    .footerh4{
      text-align: center !important;
    }
  }
  