/* Global styles */
body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 85px;
  }
  
  html{
    scroll-behavior: smooth;
  }
  

  /* .wow {
     visibility: hidden; 
    } */
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    
  }
  img {
    max-width: 100%;
    height: auto;
  }
  nav img{
    min-width: 300px;
  }
  /* Navigation bar styles */
  .navbar {
    background-color: #000 !important;
    color: #fff;
    font-size: 18px;
  }
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    overflow: hidden;
  }
  .navbar {
    border-bottom: 1px solid white;
  }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
  }
  .navbar-brand img{
    max-width: 40px;
  }
  
  .nav-link {
    color: #fff !important;
  }
  
  .nav-link:hover {
    color: #ddd !important;
  }
  
  /* Header styles */
  header {
    background-image: url('header-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  
  
  header h1 {
    font-size: 64px;
    font-weight: bold;
    text-align: center;
  }

/* Parallax */
  /* .parallax1 {
    height: 1300px;
    background-image: url('/Assets/Images/new-home-bann.png');
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .parallax-content1 {
    color: #fff;
    text-align: center;
    padding-top: 150px;
  } */

  .front-pg .parallax {
    position: relative;
    height: 500px;
    overflow: hidden;
    
  }
  
  .front-pg .parallax video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
  }
  
  .front-pg .parallax-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
  }
  
  .front-pg .parallax-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    color: #fff;
    text-align: center;
  }
  
  
/* our services section */
.section-heading {
  background-color: #f9f9f9;
  padding-top: 70px;
  padding-bottom: 50px;
}

.section-heading h2 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 36px;
  font-weight: 600;
}

.service-item {
  text-align: center;
  margin-bottom: 40px;
  position: relative;
}

.service-item h4 {
  font-size: 24px;
  margin-top: 20px;
}

.service-item p {
  font-size: 16px;
  margin-top: 20px;
  line-height: 1.6;
  padding: 0 20px;
}

.service-icon {
  font-size: 50px;
  line-height: 80px;
  position: absolute;
  left: 50%;
  margin-left: -40px;
  top: -40px;
  background-color: #ffffff;
  border: 2px solid #cccccc;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  color: #000000;
  transition: all 0.3s ease;
}

.service-item:hover .service-icon {
  background-color: #42b4e6;
  border-color: #42b4e6;
  color: #ffffff;
}

.service-icon i {
  display: block;
  margin-top: 15px;
}

.service-item:nth-child(odd) .service-icon {
  transform: translate(-50%, -30%);
}

.service-item:nth-child(even) .service-icon {
  transform: translate(-50%, 30%);
}

.service-item.wow {
  visibility: hidden;
}

.service-item.wow.animated {
  visibility: visible;
  animation-name: fadeInUp;
}
.service-item i{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #000;
  font-size: 28px;
  color: #fff;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
  line-height: 60px;
}

/* why choose us section  */
#why-choose-us {
  padding: 80px 0;
  background-color: #f8f9fa;
}

#why-choose-us h2 {
  margin-bottom: 50px;
}

.card {
  border: none;
  margin-bottom: 30px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.card:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-weight: 700;
  margin-bottom: 15px;
}

.card-text {
  font-size: 14px;
}
/* About us */

.about-us {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-us .parallax {
  max-height: 400px;
  background-image: url('/Assets/Images/graphicdesign.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .parallax::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
} */
.about-us{
  color: aliceblue;
}
.about-us .parallax .cunt{
  color: #000000;
  background-color: rgba(255, 255, 255, 0.5);
  text-shadow: 2px 2px #888888;
}

/* .container {
  z-index: 1;
} */
/* .parallax video{
  animation-play-state: running;
  pointer-events: none;
}

.video-container {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  /* position: relative;
}

.video-container video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
} */ 


/* @media (max-width: 767px) {
  .parallax {
    background-attachment: scroll;
  }
}


@media (min-width: 992px) {
  .col-lg-6 {
    padding: 5rem;
  }
}

@media (max-width: 991.98px) {
  .col-lg-6 {
    padding: 2rem;
  }
}

@media (max-width: 767.98px) {
  .section-heading {
    font-size: 2rem;
  }

  .col-lg-6 {
    padding: 0;
  }
}

@media (max-width: 575.98px) {
  .section-heading {
    font-size: 1.5rem;
  }
} */
/* Latest Tech Section */
/* Latest Technologies Section */
.latest-tech-section {
  padding: 100px 0;
  text-align: center;
  background-color: #f7f7f7;
}
.latest-tech-section .title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.latest-tech-section .card {
  border: none;
  margin: 30px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.latest-tech-section .card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}
.latest-tech-section .card .card-body {
  text-align: center;
}
.latest-tech-section .card .card-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}
.latest-tech-section .card .card-text {
  font-size: 18px;
  line-height: 28px;
}
.latest-tech-section .card i {
  font-size: 48px;
  margin-bottom: 20px;
  color: #3a3a3a;
}

  /* Footer styles */
  footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    margin-top: 50px;
  }
  
  footer p {
    margin: 0;
    text-align: center;
    font-size: 18px;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    header h1 {
      font-size: 36px;
    }
  
    .services-item h3 {
      font-size: 20px;
    }
  
    .services-item p {
      font-size: 16px;
    }
  
    footer p {
      font-size: 16px;
    }
    .footerh4{
      text-align: center !important;
    }
  }
  