/* Default styles */
* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #ffecec;  
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  section {
    padding: 80px 0;
  }
  
  h1 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
  }
  
  .menu-box {
    /* margin-bottom: 80px; */
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 20px;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.5);


  }
  
  .menu-box h2 {
    padding: 10px;
    font-size: 32px;
    font-weight: 700;
  }
  
  .menu-box ul {
    list-style: none;
    padding: 10px;
  }
  
  .menu-box ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .menu-box ul li:last-child {
    border-bottom: none;
  }
  
  .menu-box ul li .item-name {
    flex-basis: 60%;
  }
  
  .menu-box ul li .item-price {
    flex-basis: 40%;
    text-align: right;
  }
  
  /* Parallax background */
  .parallax {
    float: left;
    background-image: url('/Assets/Images/bbq_bg.jpg');
    /* height: 100%; */
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .parallax-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  /* Responsive styles */
  @media (max-width: 767px) {
    h1 {
      font-size: 28px;
    }
  
    .menu-box h2 {
      font-size: 24px;
    }
  
    .menu-box ul li {
      flex-wrap: wrap;
    }
  
    .menu-box ul li .item-name {
      flex-basis: 60%;
      margin-bottom: 5px;
    }
  
    .menu-box ul li .item-price {
      flex-basis: 40%;
      text-align: right;
    }
  }
  